<article
  [class]="{
    'status-open': task().status === 'OPEN',
    'status-in-progress': task().status === 'IN_PROGRESS',
    'status-done': task().status === 'DONE'
  }"
>
  <header>
    <ng-container *ngIf="!isEditing; else formEdit">
      <h3>{{ task().title }}</h3>
      <p>{{ taskStatus() }}</p>
      <p>{{ task().description }}</p>
    </ng-container>

    <ng-template #formEdit>
      <form #editForm="ngForm" (ngSubmit)="editTheForm()">
        <p>
          <label for="title">Title</label>
          <input
            type="title"
            id="title"
            name="title"
            [(ngModel)]="task().title"
            required
          />
        </p>
        <p>
          <label for="description">Description:</label>
          <input
            type="description"
            id="title"
            name="title"
            [(ngModel)]="task().description"
            required
          />
        </p>
        <button type="submit" [disabled]="editForm.invalid">Save</button>
        <button type="button" (click)="cancelEditing()">Cancel</button>
      </form>
    </ng-template>
  </header>

  <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
    <select #status>
      <option value="open" [selected]="task().status === 'OPEN'">Open</option>
      <option value="in-progress" [selected]="task().status === 'IN_PROGRESS'">
        In-Progress
      </option>
      <option value="done" [selected]="task().status === 'DONE'">
        Completed
      </option>
    </select>
    <p>
      <button>Change Status</button>
    </p>
  </form>
  <p>
    <button (click)="deleteTask()">Delete</button>
  </p>
</article>
