<article
  [class]="{
    'status-open': task().status === 'OPEN',
    'status-in-progress': task().status === 'IN_PROGRESS',
    'status-done': task().status === 'DONE'
  }"
>
  <ng-container *ngIf="!isEditing; else formEdit">
    <header>
      <h3>{{ task().title }}</h3>
      <p>{{ taskStatus() }}</p>
      <button class="editButtons" (click)="startEditing()">Edit</button>
    </header>

    <p>{{ task().description }}</p>
    <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
      <div>
        <div>
          <p style="padding-bottom: 10px">
            <button class="editButtons" (click)="deleteTask()">Delete</button>
          </p>
        </div>
        <div style="display: flex; align-items: center">
          <div style="padding-right: 10px">
            <select #status>
              <option value="open" [selected]="task().status === 'OPEN'">
                Open
              </option>
              <option
                value="in-progress"
                [selected]="task().status === 'IN_PROGRESS'"
              >
                In-Progress
              </option>
              <option value="done" [selected]="task().status === 'DONE'">
                Completed
              </option>
            </select>
          </div>
          <p>
            <button class="editButtons">Change Status</button>
          </p>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-template #formEdit>
    <form #editForm="ngForm" (ngSubmit)="editTheForm()">
      <p>
        <label for="editTask">Title</label>
        <input
          type="text"
          id="editText"
          name="editText"
          [(ngModel)]="editTask.title"
          required
        />
      </p>
      <p>
        <label for="editDescription">Description:</label>
        <textarea
          id="editDescription"
          name="editDescription"
          [(ngModel)]="editTask.description"
          required
        >
        </textarea>
      </p>
      <button class="editButtons" type="submit" [disabled]="editForm.invalid">
        Save
      </button>
      <button class="editButtons" type="button" (click)="cancelEditing()">
        Cancel
      </button>
    </form>
  </ng-template>
</article>
